jQuery ->
  $('body').prepend('<div id="fb-root"></div>')

  $.ajax
    url: "#{window.location.protocol}//connect.facebook.net/en_US/all.js"
    dataType: 'script'
    cache: true

testenvfunc = () ->
    testenv='<%=  Clipita::Application.config.testvar   %>'
    fbvar='<%= Clipita::Application.config.appid %>'

window.fbAsyncInit = ->
  FB.init(appId: appid, cookie: true)

  $('#sign_in').click (e) ->
    e.preventDefault()
    FB.login (response) ->
      window.location = '/auth/facebook/callback?clipname='+clipname if response.authResponse

  $('#sign_out').click (e) ->
    FB.getLoginStatus (response) ->
      FB.logout() if response.authResponse
    true